.profile-image {
  margin: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
  cursor: pointer;
  border: 3px solid white;
}

.profile-image:active {
  opacity: 0.7;
  transform: scale(0.8);
}

.selected {
  opacity: 0.7;
  transform: scale(0.8);
}
.avatar-spacer {
	margin-bottom: 30px;
}
.avatar-spacer:last-child {
	margin-bottom: 0;
}