<nb-card *ngIf="!isLoaded">
    <nb-card-header class="d-flex justify-content-between align-items-center">
        <span class="journal-header">PROFIT <button nbTooltip="Displays your live portfolio balance. The percent is calculated using the current balance and the closing balance of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></span>
    </nb-card-header>
    <nb-card-body class="journal-chart2">
        <div class="data_box">
            <div class="caution_images">
                <img src="./assets/Caution-Sign.png" alt="no-data">
            </div>
            <p>We do not have any data from you to work our magic.Enter below.</p>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="isLoaded">
    <nb-card-header class="d-flex justify-content-between align-items-center">
        <span class="journal-header">PROFIT <button nbTooltip="Displays your live portfolio balance. The percent is calculated using the current balance and the closing balance of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></span>
    </nb-card-header>
    <nb-card-body class="journal-chart2">
        <div class="h-100 d-flex align-items-center justify-content-center" [nbSpinner]="!inputData" [nbSpinnerMessage]="''">
        </div>
        <div echarts [options]="chartOption" class="chart"></div>
    </nb-card-body>
</nb-card>
