<nb-layout class="layout-container">
  <nb-layout-column class="flex flexCenter p-0">

    <nb-card class="wholeScreen">
      <nb-card-body class="flex-vertical p-0">
        <div class="login-left">
          <div class="login-left-inner">
            <img class="login-logo" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/CryptoWzrd_black.png?5771"/>
            <div class="login-header">MEMBERS PLATFORM</div>
            <div class="enterUsername">
              <h3 *ngIf="isShow" class="text-center text-info" style="color: #6610f2!important;">This link has expired, please try submitting a new request.</h3>
              <form *ngIf="!isShow" (ngSubmit)="logIn()" [formGroup]="loginForm" class="loginForm">
                <div class="mb-0">
                  <div class="login-subheader">Please enter a new password below.</div>
                  <input type="password" name="password" placeholder="New Password" nbInput required formControlName="password" class="formWidth loginInput">
                  <p class="error">&nbsp;
                    <span *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid" class="errorMessage">{{showError(loginForm.controls.password)}}</span>
                  </p>
                </div>
                <div class="my-0">
                  <input type="password" name="confirmpassword" placeholder="Confirm Password" nbInput required
                         formControlName="confirmpassword" class="formWidth loginInput">
                  <p class="error">&nbsp;
                    <span *ngIf="loginForm.controls.confirmpassword.touched && loginForm.controls.confirmpassword.invalid" class="errorMessage">{{showError(loginForm.controls.confirmpassword)}}</span>
                  </p>
                  <p class="text-danger">{{errMsg}}</p>
                  <p class="text-success">{{successMsg}}</p>
                </div>
                <button nbButton fullWidth type="submit" size="small" status="success"
                        [disabled]="loginForm.disabled" class="signin-btn">Submit</button>
              </form>

            </div>
          </div>
        </div>

        <div class="login-right">
          <div class="login-right-inner">
            <img class="laptop-phone" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/laptop_iphone_2_2167351e-c454-4048-8c66-0952edf9dee4.png?8921"/>
            <img class="login-map" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/wolrd-map-t.png?5941"/>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
