@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';

@import '~@nebular/theme/styles/themes/Far_Above';
@import '~@nebular/theme/styles/themes/Vortex';
@import '~@nebular/theme/styles/themes/Fireball';
@import '~@nebular/theme/styles/themes/Hex_World';
@import '~@nebular/theme/styles/themes/Formula_of_Life';
@import '~@nebular/theme/styles/themes/Connection';
@import '~@nebular/theme/styles/themes/Enchanted_Dream';
@import '~@nebular/theme/styles/themes/Infinity';
@import '~@nebular/theme/styles/themes/Pirate';
@import '~@nebular/theme/styles/themes/Tron';
@import '~@nebular/theme/styles/themes/Uncovering_Secrets';
@import '~@nebular/theme/styles/themes/United_Colours';
@import '~@nebular/theme/styles/themes/Palm_Trees';
@import '~@nebular/theme/styles/themes/Analyst';
@import '~@nebular/theme/styles/themes/Voltage';
@import '~@nebular/theme/styles/themes/Overload';
@import '~@nebular/theme/styles/themes/Smiley';
@import '~@nebular/theme/styles/themes/Internal_Traces';
@import '~@nebular/theme/styles/themes/Isolated';
@import '~@nebular/theme/styles/themes/Land_of_Promises';
@import '~@nebular/theme/styles/themes/Towers_of_Wizardry';
@import '~@nebular/theme/styles/themes/Planets';
@import '~@nebular/theme/styles/themes/Bloodline';
@import '~@nebular/theme/styles/themes/Ghost_Town';
@import '~@nebular/theme/styles/themes/Meteor';
@import '~@nebular/theme/styles/themes/Purging';
@import '~@nebular/theme/styles/themes/Predator';
@import '~@nebular/theme/styles/themes/Lava';
@import '~@nebular/theme/styles/themes/Witches';
@import '~@nebular/theme/styles/themes/Candy';
@import '~@nebular/theme/styles/themes/Mother_Nature';
@import '~@nebular/theme/styles/themes/Mystic';

@include nb-install-component {
	::ng-deep {
		nb-tabset .tabset {
			border-bottom: 1px solid nb-theme(line-color);
		}
		.primary-tooltip {
			max-width: 600px;
		}
		nb-select button {
			max-width: unset !important;
			text-align: center;
		}
		nb-card {
			background: nb-theme(card-color);
			box-shadow: nb-theme(shadow);
			color: nb-theme(light-text);
		}
		nb-card-header {
			border-bottom: 1px solid nb-theme(line-color);	
		}		
		[nbButton]:hover, [nbButton].hover {
			background: nb-theme(notification-shadow);
		}
		[nbButton].btn-outline.btn-primary {
			border: 2px solid nb-theme(notes-header);
			text-transform: uppercase;
		}
		[nbButton].btn-outline.btn-primary:hover, [nbButton].btn-outline.btn-primary.hover {
			background: nb-theme(notification-shadow);
		}
		[nbInput] {
			background-color: nb-theme(circle-bg);
		}
		nb-toast.info {
			border-color: #08f;
			background-image: -webkit-gradient(linear,left top,right top,from(#00b3ff),to(#08f));
			background-image: linear-gradient(to right,#00b3ff,#08f);
			color: #fff;
		}
		nb-datepicker-container {
			border: 2px solid nb-theme(notes-header);
		}
		nb-calendar-day-picker .day-cell.disabled {
			background: nb-theme(scrollbar-background);
		}
		nb-calendar-year-picker .year-cell.today {
			background: nb-theme(scrollbar-background);
		}
		nb-calendar-year-picker .year-cell.disabled {
			background: nb-theme(scrollbar-background);
		}
		.alert-modal-content {
			background: nb-theme(card-color) !important;
			background-color: nb-theme(card-color) !important;
		}
		nb-tooltip.primary-tooltip {
			background-color: nb-theme(notes-header);
		}
		nb-tooltip.primary-tooltip .arrow {
			border-bottom-color: nb-theme(notes-header);
		}
	}
	::ng-deep .primary-tooltip {
		max-width: 600px;
	}
	.card-text-1 {
		color: nb-theme(color-fg-text-4);
	}
	.color-text-3 {
		color: nb-theme(color-fg-text-3);
	}
	.nb-arrow-up, .nb-arrow-down, .nb-arrow-right, .nb-arrow-left {
		color: nb-theme(color-light-2);
	}
	.platformHeader { 
		background: nb-theme(header-bg);
	}
	.footer-main {
		background: nb-theme(header-bg);
		text-align: left;
		font-weight: 500;
	}
	nb-tooltip.primary-tooltip {
		background-color: nb-theme(notes-header);
	}
	nb-tooltip.primary-tooltip .arrow {
		border-bottom-color: nb-theme(notes-header);
	}
	::ng-deep nb-accordion-item {
		overflow: hidden;
	}
	::ng-deep nb-layout {
		.scrollable-container {
		.layout {
			.layout-container {         
				.front-container {
					min-width: 100%;
					}
				}
			}
		}
	}
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block; 
}
.coin-image {
	width: 40px;
	height: 40px;
}
.grid {
    display: grid;
	width: calc(100% - 30px);
    grid-template-columns: 25% 50% 25%;
    span {
        display: flex;
        align-items: center;
    }
}
.plus {
    font-size: 1.5rem;
    font-weight: bolder;
}
.nb-arrow-dropup, .nb-arrow-dropdown {
	position: relative !important;
	right: 0 !important;
}
.accordion-row {
	margin-bottom: 1.5rem;
}
.nb-theme-cosmic nb-accordion nb-accordion-item-header, .item-body, .ng-tns-c11-1.ng-trigger.ng-trigger-accordionItemBody {
	padding: 1.25rem 0 0 0;
}
[nb-accordion-item-body] .item-body {
	padding: 0;
}
.value-text  {
	font-size: 16px;
	@include media-breakpoint-up(md) {
		font-size: 18px;							
	}
	@include media-breakpoint-up(lg) {
		font-size: 16px;							
	}
	@include media-breakpoint-up(lg) {
		font-size: 18px;							
	}
}
.percent-text {
    font-size: 16px;
	@include media-breakpoint-up(md) {
		font-size: 18px;														
	}
	@include media-breakpoint-up(lg) {
		font-size: 16px;							
	}
	@include media-breakpoint-up(lg) {
		font-size: 18px;							
	}
}
.coin-text {
    font-size: 16px;
	@include media-breakpoint-up(md) {
		font-size: 18px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 16px;							
	}
	@include media-breakpoint-up(lg) {
		font-size: 18px;							
	}
}
.bold-name {
	font-weight: 700;
}