@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';

@include nb-install-component {
    ::ng-deep .item-body:hover .delete-icon, ::ng-deep .item-body:active .delete-icon, ::ng-deep .item-body:focus .delete-icon, ::ng-deep .ng-trigger-accordionItemBody:hover .delete-icon {
        opacity: 1 !important;
    }
}

.chart {
    height: 120px;
}
.f-h {
    height: calc(100% - 1.5rem);
}
.delete-icon {
    z-index: 9999;
	position: absolute;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    text-align: right;
    justify-content: flex-end;
    font-size: 14px;
    cursor: pointer;
    right: 1rem;
    top: 1rem;
	@include media-breakpoint-up(md) {
        right: 1.25rem;
        top: 1.25rem;
        opacity: 0;
        font-size: 1rem;
	}
}
.spacer-icon {
    width: 100%;
    display: flex;
    height: 30px;
    content: "";
}
.delete-icon:hover, .delete-icon:active, .delete-icon:focus {
	opacity: 1;
	color: red;
}
nb-accordion-item-body:hover > .delete-icon {
    opacity: 1 !important;
}