


<nb-card class="f-h mb-3"[nbSpinner]="loading">
  <nb-card-header class="p-2" >
    <div class="flex">

      <nb-select selected="BTC" class="button-width p-0 transparent" (selectedChange)="change($event)">
        <nb-option value="BTC">BTC</nb-option>
        <nb-option value="XRP">XRP</nb-option>
        <nb-option value="ETH">ETH</nb-option>
        <nb-option value="LTC">LTC</nb-option>
      </nb-select>
      <button nbTooltip="The multi-line chart displays the selected coin's market cap value (in purple) and the coin's price (in green). The candlestick chart is a one minute candlestick chart of the selected coin." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button>
    </div>

  </nb-card-header>
  <nb-tabset fullWidth="true">
    <nb-tab tabTitle="Line">
    <nb-card-body class="p-0 chart-card">
      <div class="d-flex justify-content-center price-font-size" style="margin-top:35px">
        <span class="green">$</span><span class="mr-3 white" id="btcplc">{{coinPrice | number:'.2'}}</span>
        <span [ngClass]="(percentNumber<0)?'red':'green'"  id="btcPerc">{{percent}}
          <i [ngClass]="(percentNumber<0)?'nb-arrow-dropdown':'nb-arrow-dropup'" ></i>
        </span>
      </div>    
      <div echarts [options]="chartOption" [merge]="dataOptions" class="f-h chart"></div>
    </nb-card-body>
    </nb-tab>
    <nb-tab tabTitle="Candlestick">
	<app-chart10></app-chart10>
    </nb-tab>
  </nb-tabset>  
</nb-card>