<nb-layout class="layout-container">
  <nb-layout-header class="flex flexCenter platformHeader">    
	<app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="p-3">
    <div class="col-12 col-xl-12 flex p-0" style="align-content: start;">
        <div class="col-12 col-md-6 col-xl-8">
          <nb-card>
            <nb-card-header>
              Introduction
            </nb-card-header>      
            <nb-card-body>              
              <div class="contributor-profile-header">
                  <img class="contributor-profile-img" src="https://members.cryptowzrd.com/assets/Avatars/4.png"/>
              </div>
              <div class="summary-container">
                <div class="resume-title mb-3">Billy the WZRD</div>
                <div class="resume-summary">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis metus ac urna imperdiet, id sollicitudin metus cursus. Quisque maximus iaculis odio, id aliquam arcu mollis et. Phasellus feugiat diam id turpis maximus dapibus. Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor. Nunc id rhoncus ex, a consequat lectus. Ut at neque in mauris cursus interdum eget vel nisi. Sed vulputate nunc nec justo interdum tincidunt.
                    <br/><br/>
                    Maecenas varius libero arcu, in suscipit nisl posuere ut. Fusce interdum sed libero at congue. Integer malesuada hendrerit luctus. In quis rhoncus tortor. Vestibulum cursus, leo id facilisis varius, est elit sodales velit, ac ornare neque arcu id purus. Nullam scelerisque mauris eu lectus gravida sollicitudin.
                    <br/><br/>
                    Fusce ac pharetra dolor, quis accumsan ex. Fusce ultricies accumsan luctus. Integer lacus dolor, condimentum eu euismod eget, efficitur non quam. Sed quis sodales ante, et finibus massa. Suspendisse ipsum justo, ultrices et elit et, congue vestibulum elit. Nunc quis nisi turpis. Curabitur sapien nisi, scelerisque a molestie sit amet, varius quis risus.
                    <br/><br/>
                    Vivamus ac ante tincidunt, feugiat orci a, tincidunt augue. Nunc convallis auctor elit, at tincidunt sapien imperdiet at. Vivamus imperdiet consectetur ante, eget consequat sapien pharetra nec. Vivamus id velit convallis, mattis nibh et, facilisis felis. Integer sit amet nisi gravida, sagittis enim non, condimentum tortor. Nam consectetur suscipit lectus, vel consequat ligula. Suspendisse consequat interdum enim, a scelerisque felis dictum nec. Donec sed egestas neque.
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <nb-card>
            <nb-card-header>
              Work History
            </nb-card-header>
            <nb-card-body>
                - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis metus ac urna imperdiet, id sollicitudin metus cursus. (2011 - Present)
                <br/><br/>
                - Quisque maximus iaculis odio, id aliquam arcu mollis et. Phasellus feugiat diam id turpis maximus dapibus. (2010 - 2011)
                <br/><br/>
                - Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor. (2008 - 2010)
                <br/><br/>
                - Nunc id rhoncus ex, a consequat lectus. Ut at neque in mauris cursus interdum eget vel nisi. Sed vulputate nunc nec justo interdum tincidunt. (2005 - 2008)
                <br/><br/>
                - Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor. (2004 - 2005)
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-12 col-md-6">
            <nb-card>
              <nb-card-header>
                Education
              </nb-card-header>
              <nb-card-body>              
              - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis metus ac urna imperdiet, id sollicitudin metus cursus.
              <br/><br/>
              - Quisque maximus iaculis odio, id aliquam arcu mollis et. Phasellus feugiat diam id turpis maximus dapibus.
              <br/><br/>
              - Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor.
              <br/><br/>
              - Nunc id rhoncus ex, a consequat lectus. Ut at neque in mauris cursus interdum eget vel nisi. Sed vulputate nunc nec justo interdum tincidunt.
              <br/><br/>
              - Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor.
              <br/><br/>
              - Nunc id rhoncus ex, a consequat lectus. Ut at neque in mauris cursus interdum eget vel nisi. Sed vulputate nunc nec justo interdum tincidunt.
              <br/><br/>
              - Quisque maximus iaculis odio, id aliquam arcu mollis et. Phasellus feugiat diam id turpis maximus dapibus.
              </nb-card-body>
            </nb-card>
        </div>
        <div class="col-12 col-md-6">
            <nb-card>
              <nb-card-header>
                Hobbies
              </nb-card-header>
              <nb-card-body>
                Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor.
                <br/><br/>
                Nunc id rhoncus ex, a consequat lectus. Ut at neque in mauris cursus interdum eget vel nisi. Sed vulputate nunc nec justo interdum tincidunt.
                <br/><br/>
                Aliquam fringilla dui mi, eget aliquam dolor sagittis id. Donec dignissim turpis at feugiat tempor.
              </nb-card-body>
            </nb-card>
        </div>
      </div>    
  </nb-layout-column>
  <nb-layout-footer class="footer-main">
    &copy; 2021 Powered by <a target="_blank" class="wzrdgroup-link" href="http://wzrdgroup.com/">WZRD Group</a>
  </nb-layout-footer>
</nb-layout>