<nb-layout class="layout-container">
  <nb-layout-header class="flex flexCenter platformHeader">    
	<app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="p-0">
	  <div class="chapterInformation">
		  <div class="gradientBG"></div>
		  <div class="chapterInfoLeft p-3 p-md-4 p-lg-5">
			  <div class="title2 mb-2 mb-md-3 mb-lg-4">WZRD CONTRIBUTORS</div>
			  <div class="title3 mb-2 mb-md-3 mb-lg-4">Lorem Ipsum</div>
			  <div class="title4 mb-3 mb-md-4 mb-lg-5">Lorem ipsum dolor.</div>
        <!-- <a *ngIf="courseStatus.lessonStart; else isComplete" class="watchContainer" href="course/chapter/{{courseStatus.Chapter}}/lesson/{{courseStatus.Lesson}}">Watch</a> -->
        <!-- <ng-template #isComplete>
          <div *ngIf="courseStatus.isCompleted !== undefined; else isWatching" class="watchContainer">Complete</div>
        </ng-template>
        <ng-template #isWatching>
          <a class="watchContainer" href="course/chapter/{{courseStatus.Chapter}}/lesson/{{courseStatus.Lesson}}">Continue</a>
        </ng-template> -->
		  </div>
		  <div class="chapterInfoRight">
			  <!-- <div class="progressAbsolute">
			        <nb-progress-bar [value]="percentage" class="progressBar">
                  <div class="percentageNumber" [ngClass]="{'percentUnderTen' : percentage < 10}">
                      {{percentage}}%
                  </div>
              </nb-progress-bar>
			  </div> -->
		  </div>
	  </div>
    <div class="px-3 px-md-5">
      <div class="flex" style="margin: 0 -16px 20px -16px">
        <div *ngFor="let cast of contributors;let i = index;" class="col-12 col-md-4 col-lg-3 px-3 pt-3 chapter-card">
          <nb-card style="position:relative; overflow: hidden" class="cardShadow mb-2 mb-md-3">
            <i *ngIf="i == 6" class="fa fa-lock overlayLock"></i>
            <img src="{{cast.img}}" alt="image" class="card-img" routerLink="/wzrd-contributors/billy-the-wzrd">
			      <div class="bottomContainer" routerLink="/wzrd-contributors/billy-the-wzrd"><div class="lessonTitle">{{cast.name}}</div></div>
          </nb-card>
        </div>
      </div>
    </div>


  </nb-layout-column>
  <nb-layout-footer class="footer-main">
    &copy; 2021 Powered by <a target="_blank" class="wzrdgroup-link" href="http://wzrdgroup.com/">WZRD Group</a>
  </nb-layout-footer>
</nb-layout>
