<nb-layout class="layout-container">
  <nb-layout-column class="flex flexCenter p-0">

    <nb-card class="wholeScreen">
      <nb-card-body class="flex-vertical p-0">
        <div class="login-left">
          <div class="login-left-inner">
            <img class="login-logo" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/CryptoWzrd_black.png?5771"/>
            <div class="login-header">MEMBERS PLATFORM</div>
            <div class="enterUsername">
              <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPassForm" class="loginForm">
                <div class="mb-0">
                  <div class="login-subheader">Please enter your account's email address to reset your password.</div>
                  <input type="email" name="email" placeholder="Enter your email..." nbInput required formControlName="email" class="formWidth loginInput">
                  <p class="error">&nbsp;
                    <span *ngIf="forgotPassForm.controls.email.touched && forgotPassForm.controls.email.invalid" class="errorMessage">{{showError(forgotPassForm.controls.email)}}</span>
                  </p>
                  <p class="text-danger">{{errorMsg}}</p>
                  <p class="text-success">{{successMsg}}</p>
                </div>
                <button nbButton fullWidth type="submit" size="small" status="success"
                        [disabled]="forgotPassForm.disabled" class="signin-btn">{{buttonTXt}}</button>
                <button nbButton fullWidth size="small" status="success"
                        class="signin-btn" routerLink="/login">Go Back</button>                        
              </form>
            </div>
          </div>
        </div>
        <div class="login-right">
            <div class="login-right-inner">
                <div class="container slider-pw adjustWidthCarousel hideDesktop">
                    <div id="carousel-example-generic-m" class="carousel carousel-m slide" data-ride="carousel">
                      
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic-m" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic-m" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic-m" data-slide-to="2"></li>
                        </ol>
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">								
                        <div class="carousel-item carousel-item-m first-c active">       
                          
                            <div>
                              <div class="flex-vertical">			  
                                <nb-card-body class="p-0">
                                <img class="carouselImg" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/Dashboard-_-Traders-Hub.png?19882"/>
                                </nb-card-body>
                                </div>
                            </div>
                          
                          
                        </div>
    
                        <div class="carousel-item carousel-item-m">       
                          
                              <div>					  
                                <div class="flex-vertical">			  
                                  <nb-card-body class="p-0"><img class="carouselImg" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/Course-Page-_-Library.png?19882"/></nb-card-body>
                                </div>          
                              </div>
                              
                        </div>
                        <div class="carousel-item carousel-item-m">       
                            
                              <div>
                                <div class="flex-vertical">			  
                                <nb-card-body class="p-0">
                                  <img class="carouselImg" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/Traders-Hub-_-Portfolio.png?19882"/>
                                </nb-card-body>
                                </div>
                              </div>
                              
                        </div>                                
                        </div>
    
                        <a class="carousel-control-prev carousel-control-prev-m d-none" href="#carousel-example-generic-m" role="button" data-slide="prev">				    
                          <i class="nb-arrow-left"></i>
                          <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next carousel-control-next-m d-none" href="#carousel-example-generic-m" role="button" data-slide="next">
                          <i class="nb-arrow-right"></i>
                          <span class="sr-only">Next</span>
                          </a>
                      </div>        
                </div>
                <img class="login-map" src="https://cdn.shopify.com/s/files/1/0049/3102/7015/files/wolrd-map-t.png?5941"/>
            </div>
        </div>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
