nb-card {
  position: relative !important;
  .center {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
.chart {
  z-index: 1;
}

@media (max-width: 500px) {
  .center > div {
    margin-top: -15%;
  }
}