<nb-layout>

  <nb-layout-header class="flex flexCenter transparentHeader">    
	<app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="p-0 mb-0">

<div class="containerBg bg">
	<div class="BgInner">
    <div class="battleVideoContainer">
        <iframe class="battleVideo" src="https://player.vimeo.com/video/398330272" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
		<div class="comingSoon">
			<img src="../../../assets/MarketplaceAnim/coming_soon_button.png">
		</div>
      <div class="content">
          <div id="large-header" class="large-header">
              <canvas id="canvas">
              </canvas>
          </div>
      </div>
  </div>
</div>  

  </nb-layout-column>

  <nb-layout-footer class="footer-main">
      &copy; 2021 Powered by <a target="_blank" class="wzrdgroup-link" href="http://wzrdgroup.com/">WZRD Group</a>
  </nb-layout-footer>

</nb-layout>