<nb-card class="f-h">
  <nb-card-header>
	BTC Geo Heatmap
	<button nbTooltip="Displays a visualization of Bitcoin's performance agsint the fiat currencies of different countries. Click on a country to view the information." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button>
  </nb-card-header>
  <nb-card-body class="p-0" style="overflow-x: hidden;">
    <!-- WIDGET -->
	    <!-- <div echarts [options]="chartOption" class="f-h chart"></div>
	    <div class="d-flex flex-column zoom">
	      <button nbButton size="small" (click)="zoomIn()">
	        +
	      </button>
	      <button nbButton size="small" (click)="zoomOut()">
	        -
	      </button>
	    </div> -->
    <!-- WIDGET -->
	
	    <!-- <div echarts [options]="chartOption" class="f-h chart"></div> -->
	    <!-- <div class="d-flex flex-column zoom">
	      <button nbButton size="small" (click)="zoomIn()">
	        +
	      </button>
	      <button nbButton size="small" (click)="zoomOut()">
	        -
	      </button>
	    </div> -->
		<iframe src="/assets/assets/html/widget2.html" frameborder="0" style="margin-bottom: -72px; width: 100%; height: 100%;"></iframe>
		
  </nb-card-body>
</nb-card>