@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';
@import '~@nebular/theme/styles/themes/armyCamo';

@import '~@nebular/theme/styles/themes/Far_Above';
@import '~@nebular/theme/styles/themes/Vortex';
@import '~@nebular/theme/styles/themes/Fireball';
@import '~@nebular/theme/styles/themes/Hex_World';
@import '~@nebular/theme/styles/themes/Formula_of_Life';
@import '~@nebular/theme/styles/themes/Connection';
@import '~@nebular/theme/styles/themes/Enchanted_Dream';
@import '~@nebular/theme/styles/themes/Infinity';
@import '~@nebular/theme/styles/themes/Pirate';
@import '~@nebular/theme/styles/themes/Tron';
@import '~@nebular/theme/styles/themes/Uncovering_Secrets';
@import '~@nebular/theme/styles/themes/United_Colours';
@import '~@nebular/theme/styles/themes/Palm_Trees';
@import '~@nebular/theme/styles/themes/Analyst';
@import '~@nebular/theme/styles/themes/Voltage';
@import '~@nebular/theme/styles/themes/Overload';
@import '~@nebular/theme/styles/themes/Smiley';
@import '~@nebular/theme/styles/themes/Internal_Traces';
@import '~@nebular/theme/styles/themes/Isolated';
@import '~@nebular/theme/styles/themes/Land_of_Promises';
@import '~@nebular/theme/styles/themes/Towers_of_Wizardry';
@import '~@nebular/theme/styles/themes/Planets';
@import '~@nebular/theme/styles/themes/Bloodline';
@import '~@nebular/theme/styles/themes/Ghost_Town';
@import '~@nebular/theme/styles/themes/Meteor';
@import '~@nebular/theme/styles/themes/Purging';
@import '~@nebular/theme/styles/themes/Predator';
@import '~@nebular/theme/styles/themes/Lava';
@import '~@nebular/theme/styles/themes/Witches';
@import '~@nebular/theme/styles/themes/Candy';
@import '~@nebular/theme/styles/themes/Mother_Nature';
@import '~@nebular/theme/styles/themes/Mystic';

@include nb-install-component {
	::ng-deep {
		nb-card {
			background: nb-theme(card-color);
			box-shadow: nb-theme(shadow);
			color: nb-theme(light-text);
		}
		nb-card-header {
			border-bottom: 1px solid nb-theme(line-color);	
		}
		.bottomContainer, .lessonTitle {
			color: nb-theme(card-color) !important;
			font-weight: 700;
		}
		.progress-container {
			background: nb-theme(page-bg);
		}
		.progress-value {
			background: nb-theme(notes-header);
		}
		nb-card-footer {
			border-top: 1px solid nb-theme(line-color);
		}
		.podcast-date {
			color: nb-theme(light-text);
		}
		[nbButton]:active, [nbButton].active, [nbButton]:active:focus {
			background-color: nb-theme(notification-shadow);
		}
		[nbButton] {
			background: nb-theme(notes-header);
		}
	}
	.button {
		background-color: nb-theme(circle-bg);
	}
	.nb-play {
		color: nb-theme(light-text);
	}
	.text-color-1 {
		color: nb-theme(light-text);
	}
	.platformHeader { 
		background: nb-theme(header-bg);
	}
	.footer-main {
		background: nb-theme(header-bg);
		text-align: left;
	}
	.card-bottom {
		color: nb-theme(color-fg-text-2);
		font-weight: 700;
	}
	.dark-color {
		background-color: nb-theme(color-bg-2);
	}
	.dark-color:hover {
		background-color: nb-theme(bg-color-tabset);
	}
	.footer-main {
		background: nb-theme(header-bg);
		text-align: left;
	}
	.profit-date {
		color: nb-theme(traders-hub-text) !important;
	}
	.platformHeader { 
		background: nb-theme(header-bg);
	}
	.author { 
		color: nb-theme(light-text);
	}
	.wzrdgroup-link {
		color: nb-theme(light-text) !important;
	}
	.wzrdgroup-link:hover {
		text-decoration: none;
	}
}

.medium-spinner {
	background-color: transparent;
}
.nb-theme-armyCamo nb-spinner {
	background-color: transparent;
}
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content;
  grid-auto-flow: dense;
  //   div {
  //     min-height: fit-content;
  //   }
}
.nb-theme-armyCamo nb-spinner {
	background-color: #fff;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }
  .bigItem {
    grid-column: span 3; /* Spans two columns */
  }
}
.author {
  font-size: .9rem;
  text-transform: uppercase;
}
.music {
  font-size: 1rem;
}
.dateText {
	font-size: .9rem;
}
.button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
//  background: #2f296a;
}
.waveformcontainer {
	//border-left: 2px solid #74ff91;
	//margin-left: 40px;
}
.podcast-img {
	width: 100%;
}
.podcast-left {
	width: 128px;
	text-align: center;
	@include media-breakpoint-up(md) {
		width: 160px;
	}
}
.fireEmoji {
    width: 20.32px;
    content: "";
    height: 25px;
    display: inline-block;
	z-index: 9999;
	position: relative;
}
.fireEmoji {
	background-image: url("/assets/purple_fire.svg");
	background-repeat: no-repeat;
}
.fireEmoji:hover {
	background-image: url("/assets/green_fire.svg");
	background-repeat: no-repeat;
}
.fireEmojiFade {
	background-image: url("/assets/green_fire.svg");
	background-repeat: no-repeat;
    width: 20.32px;
    content: "";
    height: 25px;
    position: absolute;
	z-index: 1000;
	opacity: 0;
	display: none;
	
}
.fireEmoji:hover {
	cursor: pointer;
}
.fireEmoji:hover > img {
	transition: width 1s ease-in-out;
	width: 27px;
}
.fireCount {
	display: inline-block;
	margin-left: .75rem;
	font-size: 1rem;
}
.podcastHeaderRight {
	margin-left: auto;
}
.chapterInformation {
	width: 100%;
	position: relative;
	background-color: #000;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fff;
	overflow: hidden;
	margin-bottom: 15px;
    background: url("https://d308fakbqebk7c.cloudfront.net/image_heroes/Podcast.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
	@include media-breakpoint-up(md) {
		height: 40vh;
		margin-bottom: 1.5vh;
	}
}
.chapterInfoLeft {
	width: 80%;
	z-index: 1000;
	@include media-breakpoint-up(md) {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 3vmin !important;
		width: 60%;
	}
}
.chapterInfoRight {
	width: 50%;
	margin-top: auto;
	margin: auto auto 0 auto;
}
.chapterImg {
	width: 100%;
}
.title1 {
	font-size: 10px;
	text-transform: uppercase;
	@include media-breakpoint-up(md) {
		font-size: 1.5vmin;
	}
}
.title2 {
	font-size: 14px;
	text-transform: uppercase;	
	@include media-breakpoint-up(md) {
		font-size: 3vmin;
	}
}
.title3 {
	font-size: 10px;
	text-transform: uppercase;	
	@include media-breakpoint-up(md) {
		font-size: 1.7vmin;
	}
}
.title4 {
	font-size: 8px;
//	text-transform: uppercase;	
	width: 80%;
	text-align: left;
	@include media-breakpoint-up(md) {
		font-size: 1.7vmin;
	}
}
.watchContainer {	
	color: #fff;
    border: 2px solid #fff;
    padding: 6px 8px;
    margin-top: auto;
    display: block;
    position: absolute;
    width: 150px;
    bottom: 15px;
    text-align: center;
    font-size: .75rem;
	cursor: pointer;
	@include media-breakpoint-up(md) {
		width: 20%;
		bottom: 2vh;
		max-width: 10vw;
		font-size: 1.5vmin;
		padding: 0.8vh 1.3vw;

		border: 2px solid #fff;
	//	width: 100%;
	//	text-align: center;
	//	text-transform: uppercase;
	//	font-weight: 700;
	//	cursor: pointer;
	//	font-size: 10px;
		text-align: center;
	}
}
.watchContainer:hover {
	color: #fff;
	text-decoration: none;
	opacity: .8;
	border: 2px solid rgba(255,255,255,.9);
}
.overlayLock {
	display: flex;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
	z-index: 9999999;
}
.overlayLock:hover {
	opacity: 1;
	
}
.hideDate {
	display: none;
}
.podcast_img  {
	width: 100%;
}
.podcastLoadMore {
	display: block;
	margin: 0 auto;
	text-align: center;
	border: none;
}
.gradientBG {
	width: 50%;
	content: "";
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
    background-image: linear-gradient(to left, rgba(0,0,0,0) , rgba(0,0,0,1));	
}
.fireEmoji {
	margin-right: 10px;
}
.fadeEffect {
	animation: slidein 2s ease-in;
}
.fadeEffectLeft {
	animation: fadeLeft 2s ease-in;
}
.fadeEffectRight {
	animation: fadeRight 2s ease-in;
}
@keyframes fadeLeft {
	0% {
	  top: 0;
	  opacity: 0;
	  left: 0;	  
	}
	1% {
		top: 0;
		opacity: .75;
		left: 0;	  
	  }
  
	to {
	  top: -100px;
	  left: -24px;
	  opacity: 0;
	}
  }

  @keyframes fadeRight {
	0% {
	  top: 0;
	  opacity: 0;
	  right: 0;	  
	}
	1% {
		top: 0;
		opacity: .75;
		right: 0;	  
	  }
  
	to {
	  top: -100px;
	  right: -24px;
	  opacity: 0;
	}
  }  