<nb-reveal-card style="border-radius: 8px;">
  <nb-card-front>
	<nb-card class="mb-0">
	  <nb-card-header>
	    Profit
	  </nb-card-header>
	  <nb-card-body class="p-0 chart-card">
	    <div class="flex pt-1 pb-3">
	      <div class="col-6" *ngFor="let item of profitHistory; let i = index;">
	        <div class="profit-date">{{item.startDate}} - {{item.endDate}}</div>
	        <span class="green exo-font">$</span>
			<span class="white exo-font">{{item.Profit}}</span>
	      </div>
	      <!-- <div class="col-6">
	        <div class="profit-date">Jul 9 - Jul 16</div>
	        <span class="green exo-font">$</span>
			<span class="white exo-font">2315</span>
	      </div> -->
	    </div>
	    <div echarts [options]="chartOption" [merge]="dataOptions" class="chart"></div>
	  </nb-card-body>
	</nb-card>
  </nb-card-front>
  <nb-card-back>
	<nb-card class="mb-0">
    <nb-card-header>
      Profit
    </nb-card-header>
		<app-chart8></app-chart8>
	</nb-card>
  </nb-card-back>
</nb-reveal-card>