.f-h {
  height: 100%!important;
  min-height: 426px;
}
.nb-theme-cosmic nb-tabset .tabset .tab a::before {
	background: #6b64d2 !important;
	background-image: transparent !important;
}
[_nghost-c21] .tabset[_ngcontent-c21] .tab[_ngcontent-c21] {
	width: 20% !important;
}