<style>
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');
  </style>
    

<nb-layout>
  <nb-layout-header class="flex flexCenter platformHeader">    
	<app-header></app-header>
  </nb-layout-header>
  <nb-layout-column class="p-0" >
	<div class="traders-loading-card" *ngIf="loadingSocket || initialLoading"
	[nbSpinner]="loadingSocket || initialLoading" nbSpinnerSize="large" nbSpinnerMessage="Gathering live data..."
	></div>
	<div class="reconnecting-card" *ngIf="reconnecting"
	[nbSpinner]="reconnecting" nbSpinnerSize="large" nbSpinnerMessage="Reconnecting you to the servers. Please wait..."
	></div>
    <!-- FIRST ROW -->
    <nb-card class="mx-3 mt-3 mb-3 mt-md-3 mb-md-3">
      <nb-card-body class="flex justify-content-start justify-content-md-around justify-content-xl-between pt-0 pb-0">
	    <iframe src="/assets/assets/html/widget1.html" frameborder="0" style="width: 100%; height: 60px;"></iframe>
      </nb-card-body>
    </nb-card>

    <div class="flex arrows-padding">		

       <div class="col-12 col-md-6 col-lg-3">
		  
		  <nb-flip-card>
		    <nb-card-front>
		      <nb-card class="mb-3 mb-md-3">
		        <nb-card-body>
	              <p class="row-1-c-title">Portfolio Balance <button nbTooltip="Displays your live portfolio balance. The percent is calculated using the current balance and the closing balance of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
	              <h3 class="trader-text" id="pbc">${{balance.value | number:'.2'}}</h3>
				  <p class="flex-arrow"
				  [ngClass]="(balance.percent<0)?'red':'green'" 
				  id="pbpc">{{balance.percent}}%<i 
				  [ngClass]="(balance.percent<0)?'nb-arrow-dropdown':'nb-arrow-dropup'" 
				  ></i></p>
		        </nb-card-body>
		      </nb-card>
		    </nb-card-front>
		    <nb-card-back>
			  <nb-card class="mb-3 mb-md-3">			  
			        <nb-card-body class="nb-card-body-p0">
					<p class="row-1-c-title p0-header">PORTFOLIO SPLIT <button nbTooltip="Displays your portfolio balance in a pie chart. Clicking on a section of the pie chart displays information about the specific coin." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
			          <app-ochart1new class="flex flex-vertical col-12 test-div2" style="overflow-x: hidden; max-width: 100%;"></app-ochart1new>
			        </nb-card-body>
			      </nb-card>
		    </nb-card-back>
		  </nb-flip-card>    
		  
	</div>	
	
	<div class="col-12 col-md-6 col-lg-3">		  
		<nb-flip-card>
		  <nb-card-front>
			<nb-card class="mb-3 mb-md-3">
			  <nb-card-body *ngIf="TotalMarketCap" class="pb-total-market-cap">
				<p class="row-1-c-title">Total Market Cap <button nbTooltip="Displays the live total market cap of the top 100 coins (by market cap). The percent is calculated using the current market cap and the closing market cap of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
				<h3 class="trader-text" id="tmcc">${{TotalMarketCap.value | shortNumber}}</h3>
				<p class="flex-arrow" 
				[ngClass]="(TotalMarketCap.percent<0)?'red':'green'" 
				id="tmcpc"> {{TotalMarketCap.percent | number: '.2'}}%<i 
				[ngClass]="(TotalMarketCap.percent<0)?'nb-arrow-dropdown':'nb-arrow-dropup'" 
				></i></p>
			  </nb-card-body>
			</nb-card>
		  </nb-card-front>
		  <nb-card-back>
			<nb-card *ngIf="TotalMarketCapArr" class="mb-3 mb-md-3 pb-chart">			  
				  <nb-card-body class="nb-card-body-p0">
				  <p class="row-1-c-title p0-header">Total Market Cap <button nbTooltip="Displays the live total market cap of the top 100 coins (by market cap) in a line chart. The percent is calculated using the current market cap and the closing market cap of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
					<app-flipchart2m [TotalMarketCap]="{obj:TotalMarketCap}"  class="p-0 flex flex-vertical col-12" style="overflow-x: hidden;"></app-flipchart2m>
				  </nb-card-body>
				</nb-card>
		  </nb-card-back>
		</nb-flip-card>
		
	</div> 
	
	<div class="col-12 col-md-6 col-lg-3">	  
		<nb-flip-card>
		  <nb-card-front>
			<nb-card class="mb-3 mb-md-3">
			  <nb-card-body>
				<p class="row-1-c-title">Total Volume <button nbTooltip="Displays the live total volume of the top 100 coins (by market cap). The percent is calculated using the current total volume and the closing total volume of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
				<h3 class="trader-text" id="tvc">${{TotalVolume.value | shortNumber}}</h3>
				<p class="flex-arrow" 
				[ngClass]="(TotalVolume.percentNumber<0)?'red':'green'" 
				id="tvpc">{{TotalVolume.percentNumber | number:'.2'}}%<i 
				[ngClass]="(TotalVolume.percentNumber<0)?'nb-arrow-dropdown':'nb-arrow-dropup'" 
				></i></p>
			  </nb-card-body>
			</nb-card>
		  </nb-card-front>
		  <nb-card-back>
			<nb-card class="mb-2 mb-md-3">			  
				  <nb-card-body class="nb-card-body-p0">
				  <p class="row-1-c-title p0-header">TOTAL VOLUME <button nbTooltip="Displays the live total volume of the top 100 coins (by market cap) in a line chart. The percent is calculated using the current total volume and the closing total volume of the last 24 hours." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
					<app-flipchart3m class="p-0 flex flex-vertical col-12" style="overflow-x: hidden;"></app-flipchart3m>
				  </nb-card-body>
				</nb-card>
		  </nb-card-back>
		</nb-flip-card>
	</div>


	<div class="col-12 col-md-6 col-lg-3">		  
		<nb-flip-card>
		  <nb-card-front>
			<nb-card class="mb-3 mb-md-3">
			  <nb-card-body>
				<p class="row-1-c-title">Market Dominance <button nbTooltip="Displays the market dominance of Bitcoin versus the other top 99 coins (by market cap)." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
				<h3 class="trader-text" id="mdc">{{MarketDominance.BTCDominance}}</h3>
				<p class="flex-arrow"  
				
				[ngClass]="(MarketDominance.percentNumber<0)?'red':'green'" 
				  
				  
				id="mdpc">{{MarketDominance.percent}}<i [ngClass]="(MarketDominance.percentNumber<0)?'nb-arrow-dropdown':'nb-arrow-dropup'" ></i></p>
			  </nb-card-body>
			</nb-card>
		  </nb-card-front>
		  <nb-card-back>
			<nb-card class="mb-3 mb-md-3">			  
				  <nb-card-body class="nb-card-body-p0" id="triangle-width">
									  <p class="row-1-c-title p0-header">MARKET DOMINANCE <button nbTooltip="Displays the market dominance of Bitcoin versus the other top 99 coins (by market cap)." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button></p>
										<div class="market-dominance-bar">						  
											<div class="md-bar-outer flex">
												<div class="md-bar-triangle" [ngStyle]="{'left': MarketDominance.BTCDominance}"></div>
												<div class="md-bar-left" [ngStyle]="{'width': MarketDominance.BTCDominance}">
												  <div class="md-bar-text">														
													  {{MarketDominance.BTCDominance}}
												  </div>
												  <div class="barSubTitle">
													  Bitcoin
												  </div>
											  </div>
												<div class="md-bar-right" [ngStyle]="{'width':MarketDominance.otherCoins}">
												  <div class="md-bar-text">
													  {{MarketDominance.otherCoins}}
												  </div>
												  <div class="barSubTitle" style="right: 0 !important">
													  Alt coins
												  </div>
											  </div>
											</div>
										</div>
									</nb-card-body>
				</nb-card>
		  </nb-card-back>
		</nb-flip-card>

	</div> 


    </div>
	
	<!-- THIRD ROW -->

	 <div class="flex">

		<div class="col-12 col-xl-6 class flex p-0">
  
		    <div class="col-12 col-md-6 mb-3 mb-xl-3">
			  
			<app-chart1m class="trader-Chart1m"></app-chart1m>
		  </div>
		<div class="col-12 col-md-6 mb-3 mb-xl-0">
			<app-chart2m class="trader-Chart2m" (changed)="changeSelection($event)"></app-chart2m>
		  </div>
		   
		  <div class="col-12 mt--3 mt-md-0 mb-3 mb-xl-0" style="height: 360px;">
			
			<nb-card class="f-h" style="overflow: hidden;">
			  <nb-card-header class="p-2">
				<div class="flex" style="justify-content: space-between; align-items: center;">
			
				  <div class="col-6">
					Live Trades <button nbTooltip="Displays the live trades being executed across multiple exchanges for the selected coin." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button>
				  </div>
			
				  <nb-select selected="BTC" class="button-width p-0 text-right transparent"
				  (selectedChange)="changeLiveTrades($event)"
				  >
					<nb-option value="BTC">BTC</nb-option>
					<nb-option value="XRP">XRP</nb-option>
					<nb-option value="ETH">ETH</nb-option>
					<nb-option value="LTC">LTC</nb-option>
				  </nb-select>
				</div>
			
			  </nb-card-header>

			  <nb-card-body id="table-live-trades" class="p-1 p-md-3" style="overflow: auto !important;"
			 *ngIf="fsym==='BTC'" 
			  >    
			  
			  <div class="flex py-3 flex-row" *ngFor="let row of btcTrade" >
			  
			
			  <span class="col-18 flex-vertical" style="line-height: 0;"><span class="coinImage">
				  <img class="coinImg" src="../../../assets/{{row.Coin}}.svg"/></span><span class="row-coin">{{ row.Coin }}</span></span>
			  <span class="col-18" [ngClass]="{'green': row.Type === 'BUY', 'red': row.Type !== 'BUY' }">
				<span [ngClass]="{'nb-arrow-dropup': row.Type === 'BUY', 'nb-arrow-dropdown': row.Type !== 'BUY' }"></span>
				<span>{{ row.Type }}</span>
			  </span>	
				<span class="col-19">{{ row.Price }}</span>
				<span class="col-21">{{ row.Market | uppercase }}</span>
				<span class="col-24">a few seconds ago</span> 
			  </div>
				
			  </nb-card-body>

			  <nb-card-body id="table-live-trades" class="p-1 p-md-3" style="overflow: auto !important;"
			 *ngIf="fsym==='XRP'" 
			  >    
			  
			  <div class="flex py-3 flex-row" *ngFor="let row of xrpTrade" >
			  
			
			  <span class="col-18 flex-vertical" style="line-height: 0;"><span class="coinImage">
				  <img class="coinImg" src="../../../assets/{{row.Coin}}.svg"/></span><span class="row-coin">{{ row.Coin }}</span></span>
			  <span class="col-18" [ngClass]="{'green': row.Type === 'BUY', 'red': row.Type !== 'BUY' }">
				<span [ngClass]="{'nb-arrow-dropup': row.Type === 'BUY', 'nb-arrow-dropdown': row.Type !== 'BUY' }"></span>
				<span>{{ row.Type }}</span>
			  </span>	
				<span class="col-19">{{ row.Price }}</span>
				<span class="col-21">{{ row.Market | uppercase }}</span>
				<span class="col-24">a few seconds ago</span> 
			  </div>
				
			  </nb-card-body>

			  <nb-card-body id="table-live-trades" class="p-1 p-md-3" style="overflow: auto !important;"
			 *ngIf="fsym==='ETH'" 
			  >    
			  
			  <div class="flex py-3 flex-row" *ngFor="let row of ethTrade" >
			  
			
			  <span class="col-18 flex-vertical" style="line-height: 0;"><span class="coinImage">
				  <img class="coinImg" src="../../../assets/{{row.Coin}}.svg"/></span><span class="row-coin">{{ row.Coin }}</span></span>
			  <span class="col-18" [ngClass]="{'green': row.Type === 'BUY', 'red': row.Type !== 'BUY' }">
				<span [ngClass]="{'nb-arrow-dropup': row.Type === 'BUY', 'nb-arrow-dropdown': row.Type !== 'BUY' }"></span>
				<span>{{ row.Type }}</span>
			  </span>	
				<span class="col-19">{{ row.Price }}</span>
				<span class="col-21">{{ row.Market | uppercase }}</span>
				<span class="col-24">a few seconds ago</span> 
			  </div>
				
			  </nb-card-body>

			  <nb-card-body id="table-live-trades" class="p-1 p-md-3" style="overflow: auto !important;"
			 *ngIf="fsym==='LTC'" 
			  >    
			  
			  <div class="flex py-3 flex-row" *ngFor="let row of ltcTrade" >
			  
			
			  <span class="col-18 flex-vertical" style="line-height: 0;"><span class="coinImage">
				  <img class="coinImg" src="../../../assets/{{row.Coin}}.svg"/></span><span class="row-coin">{{ row.Coin }}</span></span>
			  <span class="col-18" [ngClass]="{'green': row.Type === 'BUY', 'red': row.Type !== 'BUY' }">
				<span [ngClass]="{'nb-arrow-dropup': row.Type === 'BUY', 'nb-arrow-dropdown': row.Type !== 'BUY' }"></span>
				<span>{{ row.Type }}</span>
			  </span>	
				<span class="col-19">{{ row.Price }}</span>
				<span class="col-21">{{ row.Market | uppercase }}</span>
				<span class="col-24">a few seconds ago</span> 
			  </div>
				
			  </nb-card-body>

			</nb-card>
		  </div> 
		</div>
		<div class="col-12 col-xl-6 p-0">
			<div class="col-12 f-h">
			  <app-chart3m (m3changed)="changec3mSelection($event)"></app-chart3m>
			</div>
		  </div>
	</div> 
 <!-- FOURTH ROW -->
<div class="flex">

	<div class="col-12 col-lg-6">
	  <app-chart4new class="chart4selector" (c4Changed)="changec4Selection($event)"></app-chart4new>
	</div>
 

	<div class="col-12 col-lg-6">
	  <app-chart5></app-chart5>
	</div>

  </div> 
  <!-- FIFTH ROW -->
  	 <div class="flex">

		<div class="col-12 col-xl-8 mb-3">
		<app-table2></app-table2>
		</div>

		<div class="col-12 col-xl-4 p-0 flex flex-direction-fix">

			<div class="col-12 col-md-6 col-xl-12">
			  <nb-card class="mb-3">
				<nb-card-header>
				  Crypto Conversion <button nbTooltip="A tool that will convert the entered amount of a coin into fiat." nbTooltipStatus="primary" class="fal fa-question-circle ml-1 nbButtonIcon"></button>
				</nb-card-header>
				<nb-card-body id="cont-sum-fields" [nbSpinner]="convertingValues" nbSpinnerMessage="Calculating...">
				  <div class="flex mb-4" id="inputVal">
					<nb-select class="conversion col-4 p-0" 
					[selected]="coinSelected" (selectedChange)="changeCoin($event, coinCount.value)"
					>
					  <nb-option value="BTC">BTC</nb-option>
					  <nb-option value="XRP">XRP</nb-option>
					  <nb-option value="ETH">ETH</nb-option>
					  <nb-option value="LTC">LTC</nb-option>
					</nb-select>
					<input type="number" (keyup)="convertValues(coinCount.value)" #coinCount class="col-8 conversion-input" id="count-sum" fieldSize="large" nbInput>
				  </div>
	
				  <div class="flex" id="resultCalc">
					<nb-select  class="conversion col-4 p-0" 
					[selected]="currencySelected" (selectedChange)="changeCurrency($event, coinCount.value)"
					>
					  <nb-option value="USD">USD</nb-option>
					  <nb-option value="GBP">GBP</nb-option>
					  <nb-option value="EUR">EUR</nb-option>
					  <nb-option value="KRW">KRW</nb-option>
					</nb-select>
					<input type="text" [value]="convertedValue" class="col-8 conversion-input2" id="totalPrice" fieldSize="large" nbInput disabled>
				  </div>
				</nb-card-body>
			  </nb-card>
			</div>
	
			<div class="col-12 col-md-6 col-xl-12">
			  <app-chart6 (c6Changed)="changec6Selection($event)"></app-chart6>
			</div>
	
		  </div>

	</div> 
  </nb-layout-column>
  <nb-layout-footer class="footer-main">
	  &copy; 2021 Powered by <a target="_blank" class="wzrdgroup-link" href="http://wzrdgroup.com/">WZRD Group</a>
	</nb-layout-footer>
</nb-layout>